go 1.22.5

use (
	./domain
	./app/main
	./src/routes
	./src/server
	./src/util
	./src/routes/greet
	./src/routes/user
	./src/routes/password
	./src/usecase/user
	./src/controller/user
	./src/repository/user
	./src/repository
	./src/CustomErrors
)
